FormulaSearchDB = none

SpectralMatchingScorer = MODIFIED_COSINE

SpectralSearchDB = ALL

StructureSearchDB = BIO

# Specifies if the list of Molecular Formula Identifications is filtered by a soft threshold
# (calculateThreshold) before CSI:FingerID predictions are calculated.
FormulaResultThreshold = true

NumberOfStructureCandidates = 10000

# Specify settings to inject/preserve formula candidates that belong to
# high scoring reference spectra.
# Similarity Threshold to inject formula candidates no matter which score they have or which 
# filter is applied.
InjectSpectralLibraryMatchFormulas.minScoreToInject = .7
# Matching peaks threshold to inject formula candidates no matter which score they have or 
# which filter is applied.
InjectSpectralLibraryMatchFormulas.minPeakMatchesToInject = 6
# If true formulas candidates with reference spectrum similarity > minScoreToEnforce will be 
# part of the result
# list no matter of other filter settings or there rank regarding SIRIUS score.
InjectSpectralLibraryMatchFormulas.injectFormulas = true
# If true Fingerprint/Classes/Structures will be predicted for formulas candidates with
# reference spectrum similarity > minScoreToEnforce will be predicted no matter which soft 
# threshold rules
# will apply.
InjectSpectralLibraryMatchFormulas.alwaysPredict = true

# Maximum allowed mass deviation in ppm for matching peaks.
SpectralMatchingMassDeviation.allowedPeakDeviation = 10.0 ppm
# Maximum allowed mass deviation in ppm for matching the precursor.
SpectralMatchingMassDeviation.allowedPrecursorDeviation = 10.0 ppm

