FormulaSearchDB = none

SpectralAlignmentScorer = MODIFIED_COSINE

SpectralSearchDB = ALL

StructureSearchDB = BIO

# Specifies if the list of Molecular Formula Identifications is filtered by a soft threshold
# (calculateThreshold) before CSI:FingerID predictions are calculated.
FormulaResultThreshold = true

NumberOfStructureCandidates = 10000

