FormulaSearchDB = none

SpectralAlignmentScorer = MODIFIED_COSINE

SpectralSearchDB = ALL

StructureSearchDB = BIO

# Specifies if the list of Molecular Formula Identifications is filtered by a soft threshold
# (calculateThreshold) before CSI:FingerID predictions are calculated.
FormulaResultThreshold = true

NumberOfStructureCandidates = 10000

# Maximum allowed mass deviation in ppm for matching peaks.
SpectraMatchingMassDeviation.allowedPeakDeviation = 10.0 ppm
# Maximum allowed mass deviation in ppm for matching the precursor.
SpectraMatchingMassDeviation.allowedPrecursorDeviation = 10.0 ppm

