<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>SiriusJavaIntegrated</title>
  <base href="/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script th:inline="javascript">
    /*
    Configuration script for providing API base URL from spring boot server
    via thymeleaf templating.
    [OPTIONAL] Also runs without templating engine.
    */
    window.APP_CONFIG = {
      apiBaseUrl: /*[[${apiBaseUrl}]]*/ null
    };

    /*
    Define a new console, which serializes all objects to JSON.
    */
    var console=(function(oldCons) {
      return {
          log: (msg) => oldCons.log(JSON.stringify(msg, null, 4)),
          info: (msg) => oldCons.info(JSON.stringify(msg, null, 4)),
          warn: (msg) => oldCons.warn(JSON.stringify(msg, null, 4)),
          error: (msg) => oldCons.error(JSON.stringify(msg, null, 4)),
          debug: (msg) => oldCons.debug(msg)
      };
    }(window.console));
    window.console = console;
  </script>
  <script type="module" crossorigin src="/assets/index-DFl9UeOz.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-C9AU78VZ.css">
</head>
<body>
<div id="root"></div>
</body>
</html>
