<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>SiriusJavaIntegrated</title>
  <base href="/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--
  Configuration script for providing API base URL from spring boot server
  via thymeleaf templating.
  [OPTIONAL] Also runs without templating engine.
  -->
  <script th:inline="javascript">
    window.APP_CONFIG = {
      apiBaseUrl: /*[[${apiBaseUrl}]]*/ null
    };
  </script>
  <script type="module" crossorigin src="/assets/index-HIq_qrz8.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-xRGlZHpB.css">
</head>
<body>
<div id="root"></div>
</body>
</html>
