*.class

#**/.gradle
#**/gradle
**/gradlew
**/gradlew.bat
**/build
.idea
**/*.iml
# Mobile Tools for Java (J2ME)
.mtj.tmp/

sirius_frontend/sirius_cli/src/main/resources/Sirius.properties

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
