# El-Gordo lipid species is added to CSI:FingerID candidate list if available.
# The lipid species will only be available if El-Gordo predicts that the MS/MS is a lipid 
# spectrum.
# If this parameter is set to 'false' El-Gordo will still be executed and e.g. improve the 
# fragmentation
# tree, but the computed lipid species will not be added to the list of candidates.
InjectElGordoCompounds = True

