# El Gordo may predict that an MS/MS spectrum is a lipid spectrum.
# The corresponding molecular formula may be enforeced or additionally added to the set of 
# molecular formula candidates.
EnforceElGordoFormula = True

# Molecular structure candidates matching the lipid class estimated by El Gordo will be 
# tagged.
# The lipid class will only be available if El Gordo predicts that the MS/MS is a lipid spectrum.
# If this parameter is set to 'false' El Gordo will still be executed and e.g. improve molecular
# formula annotaton, but the matching structure candidates will not be tagged as lipid class.
TagStructuresByElGordo = True

