# El-Gordo Lipid species is added to CSI:FingerID candidate list of available.
# The lipid species is only available if El-Gordo predicts that the MS/MS is a lipid spectrum.
# If  False El-Gordo will still be executed and e.g. improve the fragmentation tree,
# but the resulting candidate will not be added to the candidates.
InjectElGordoCompounds = True

