# Set minimum m/z to enable heuristic preprocessing. The heuristic will be used to initially 
# rank the formula candidates. The Top (NumberOfCandidates) candidates will then be 
# computed exactly by solving the ILP.
UseHeuristic.useHeuristicAboveMz = 300
# Set minimum m/z to only use heuristic tree computation. No exact tree computation (ILP) will 
# be performed for this compounds.
UseHeuristic.useOnlyHeuristicAboveMz = 650

