# Allowed MCES distance between CSI:FingerID hit (best-scoring candidate) and true 
# structure that should still count as correct identification.
# Distance 0 corresponds to identical molecular structures. The closest non-identical 
# structures have an MCES distance of 2 (cutting 2 bonds). It continues with 4,6,8 and so on.
# Currently only 0 (exact) and 2 for approximate are supported.
ConfidenceScoreApproximateDistance = 2

# Expansive search parameters.
# Expansive search will expand the search space to whole PubChem
# in case no hit with reasonable confidence was found in one of the user specified structure 
# search databases.
# Factor that PubChem confidence scores gets multiplied with as bias against it.
ExpansiveSearchConfidenceMode.confPubChemFactor = 0.5
# Expansive search mode
# OFF: No expansive search is performed
# EXACT: Use confidence score in exact mode: Only molecular structures identical to the true 
# structure should count as correct identification.
# APPROXIMATE: Use confidence score in approximate mode: Molecular structures hits that are 
# close to the true structure should count as correct identification.
ExpansiveSearchConfidenceMode.confidenceScoreSimilarityMode = APPROXIMATE

