# Allowed MCES distance between CSI:FingerID hit (best-scoring candidate) and true 
# structure that should still count as correct identification.
# Distance 0 corresponds to identical molecular structures. The closest non-identical 
# structures have an MCES distance of 2 (cutting 2 bonds). It continues with 4,6,8 and so on.
# Currently only 0 (exact) and 2 for approximate are supported.
ConfidenceScoreApproximateDistance = 2

# Factor that PubChem confidence scores gets multiplied with as bias against it.
ExpansiveSearchConfidenceMode.confPubChemFactor = 0.5
ExpansiveSearchConfidenceMode.confidenceScoreSimilarityMode = APPROXIMATE

