# Keywords that can be assigned to a input spectrum to judge its quality. Available keywords 
# are: Good, LowIntensity, NoMS1Peak, FewPeaks, Chimeric, NotMonoisotopicPeak, 
# PoorlyExplained
CompoundQuality = UNKNOWN

# Mass accuracy setting for MS1 spectra. Mass accuracies are always written as "X ppm (Y Da)" 
# with X and Y
# are numerical values. The ppm is a relative measure (parts per million), Da is an absolute 
# measure. For each mass, the
# maximum of relative and absolute is used.
MS1MassDeviation.allowedMassDeviation = 10.0 ppm
MS1MassDeviation.standardMassDeviation = 10.0 ppm
MS1MassDeviation.massDifferenceDeviation = 5.0 ppm

# Mass accuracy setting for MS2 spectra. Mass Accuracies are always written as "X ppm (Y Da)" 
# with X and Y
# are numerical values. The ppm is a relative measure (parts per million), Da is an absolute 
# measure. For each mass, the
# maximum of relative and absolute is used.
MS2MassDeviation.allowedMassDeviation = 10.0 ppm
MS2MassDeviation.standardMassDeviation = 10.0 ppm

MedianNoiseIntensity = 0.015

NumberOfCandidates = 10

# use this parameter if you want to force to report at least
# numberOfResultsToKeepPerIonization results per ionization.
# if le 0, this parameter will have no effect and just the top
# numberOfResultsToKeep results will be reported.
NumberOfCandidatesPerIonization = 1

# An adduct switch is a switch of the ionization mode within a spectrum, e.g. an ion replaces an 
# sodium adduct
# with a protonation during fragmentation. Such adduct switches heavily increase the 
# complexity of the
# analysis, but for certain adducts they might happen regularly. Adduct switches are written 
# in the
# form  {@literal a -> b, a -> c, d -> c} where a, b, c, and d are adducts and  {@literal a -> b} denotes an 
# allowed switch from
# a to b within the MS/MS spectrum.
PossibleAdductSwitches = [M+Na]+:[M+H]+,[M+K]+:[M+H]+,[M+Cl]-:[M-H]-

# Describes how to deal with Adducts:
# Pos Examples: 
# [M+H]+,[M]+,[M+K]+,[M+Na]+,[M+H-H2O]+,[M+Na2-H]+,[M+2K-H]+,[M+NH4]+,[M+H3O]+,[M+MeOH+H]+,[M+ACN+H]+,[M+2ACN+H]+,[M+IPA+H]+,[M+ACN+Na]+,[M+DMSO+H]+
# Neg Examples: 
# [M-H]-,[M]-,[M+K-2H]-,[M+Cl]-,[M-H2O-H]-,[M+Na-2H]-,M+FA-H]-,[M+Br]-,[M+HAc-H]-,[M+TFA-H]-,[M+ACN-H]-
# Enforced ion modes that are always considered.
AdductSettings.enforced = ,
# Detectable ion modes which are only considered if there is an indication in the MS1 scan (e.g. 
# correct mass delta).
AdductSettings.detectable = [M+H]+,[M+K]+,[M+Na]+,[M+H-H2O]+,[M+H-H4O2]+,[M+NH4]+,[M-H]-,[M+Cl]-,[M-H2O-H]-,[M+Br]-
# Fallback ion modes which are considered if the auto detection did not find any indication for 
# an ion mode.
AdductSettings.fallback = [M+H]+,[M-H]-,[M+Na]+,[M+K]+
# Adducts specified in the input file are used as is independent of what 
# enforced/detectable/fallback adducts are set.
AdductSettings.prioritizeInputFileAdducts = true

# This configuration holds a set of neutral formulas to be used as candidates for SIRIUS.
# The formulas may be provided by the user, from a database or from the input file.
# Note: This set might be merged with other sources such as ElGordo predicted lipid.
# Set of Molecular Formulas to be used as candidates for molecular formula estimation with 
# SIRIUS
CandidateFormulas = ,

# Enable/Disable the hypothesen driven recalibration of MS/MS spectra
# Must be either 'ALLOWED' or FORBIDDEN'
ForbidRecalibration = ALLOWED

# These settings define the behaviour of de novo and bottom-up molecular formula generation.
# Candidate formulas from database or user input are handled independently via {@link 
# CandidateFormulas}.
# Candidate formulas from input files are always prioritized. An (internal) parameter exist 
# to override this.
FormulaSearchSettings.performBottomUpAboveMz = 0
FormulaSearchSettings.performDeNovoBelowMz = 400
FormulaSearchSettings.applyFormulaConstraintsToBottomUp = false
FormulaSearchSettings.applyFormulaConstraintsToDatabaseCandidates = false

# These configurations hold the information how to autodetect elements based on the given 
# formula constraints.
# Note: If the compound is already assigned to a specific molecular formula, this annotation is 
# ignored.
# Enforced elements are always considered
FormulaSettings.enforced = C,H,N,O,P
# Detectable elements are added to the chemical alphabet, if there are indications for them 
# (e.g. in isotope pattern)
FormulaSettings.detectable = S,Br,Cl,B,Se
# Fallback elements are used, if the auto-detection fails (e.g. no isotope pattern available)
FormulaSettings.fallback = S

IsotopeMs2Settings = IGNORE

# This configurations define how to deal with isotope patterns in MS1.
# When filtering is enabled, molecular formulas are excluded if their theoretical isotope 
# pattern does not match
# the theoretical one, even if their MS/MS pattern has high score.
IsotopeSettings.filter = True
# multiplier for the isotope score. Set to 0 to disable isotope scoring. Otherwise, the score 
# from isotope
# pattern analysis is multiplied with this coefficient. Set to a value larger than one if your 
# isotope
# pattern data is of much better quality than your MS/MS data.
IsotopeSettings.multiplier = 1

# This configurations define a timeout for the tree computation. As the underlying problem is 
# NP-hard, it might take
# forever to compute trees for very challenging (e.g. large mass) compounds. Setting an time 
# constraint allow the program
# to continue with other instances and just skip the challenging ones.
# Note that, due to multithreading, this time constraints are not absolutely accurate.
# Set the maximum number of seconds for computing a single compound. Set to 0 to disable the time 
# constraint.
Timeout.secondsPerInstance = 0
# Set the maximum number of seconds for a single molecular formula check. Set to 0 to disable the 
# time constraint
Timeout.secondsPerTree = 0

