PrintCitations = True

RecomputeResults = False

NumberOfMsNovelistCandidates = 128

AnalogueSearchSettings.enabled = true
AnalogueSearchSettings.minSimilarity = 0.33
AnalogueSearchSettings.minNumOfPeaks = 6
AnalogueSearchSettings.maxNumOfHits = 100
AnalogueSearchSettings.matchingType = MODIFIED_COSINE
AnalogueSearchSettings.precursorDeviation = 20.0 ppm (1.0079407539657785 Da)
AnalogueSearchSettings.queryTypes = SPECTRUM,MERGED_SPECTRUM
AnalogueSearchSettings.targetTypes = SPECTRUM,MERGED_SPECTRUM

IdentitySearchSettings.enabled = true
IdentitySearchSettings.minSimilarity = 0.5
IdentitySearchSettings.minNumOfPeaks = 3
IdentitySearchSettings.maxNumOfHits = 100
IdentitySearchSettings.matchingType = FAST_COSINE
IdentitySearchSettings.precursorDeviation = 20.0 ppm
IdentitySearchSettings.queryTypes = SPECTRUM,MERGED_SPECTRUM
IdentitySearchSettings.targetTypes = SPECTRUM,MERGED_SPECTRUM

SpectralSearchLog = 10

