# Ignore isotope peaks below this intensity.
# This value should reflect the smallest relative intensive which is still above noise level.
# Obviously, this is hard to judge without having absolute values. Keeping this value around 1 
# percent is
# fine for most settings. Set it to smaller values if you trust your small intensities.
ms1.minimalIntensityToConsider = 0.01
# The average absolute deviation between theoretical and measured intensity of isotope 
# peaks.
# Do not change this parameter without a good reason!
ms1.absoluteIntensityError = 0.02
# The average relative deviation between theoretical and measured intensity of isotope 
# peaks.
# Do not change this parameter without a good reason!
ms1.relativeIntensityError = 0.08

