# cluster compounds before running ZODIAC
ZodiacClusterCompounds = false

# Defines the proportion of edges of the complete network which will be ignored.
ZodiacEdgeFilterThresholds.thresholdFilter = 0.95
# Minimum number of candidates per compound which are forced to have at least 
# [minLocalConnections] connections to other compounds.
# E.g. 2 candidates per compound must have at least 10 connections to other compounds
ZodiacEdgeFilterThresholds.minLocalCandidates = 1
# Minimum number of connections per candidate which are forced for at least 
# [minLocalCandidates] candidates to other compounds.
# E.g. 2 candidates per compound must have at least 10 connections to other compounds
ZodiacEdgeFilterThresholds.minLocalConnections = 10

# Number of epochs to run the Gibbs sampling. When multiple Markov chains are computed, all 
# chains' iterations sum up to this value.
ZodiacEpochs.iterations = 20000
# Number of epochs considered as 'burn-in period'.
# Samples from the beginning of a Markov chain do not accurately represent the desired 
# distribution of candidates and are not used to estimate the ZODIAC score.
ZodiacEpochs.burnInPeriod = 2000
# Number of separate Gibbs sampling runs.
ZodiacEpochs.numberOfMarkovChains = 10

# Lambda used in the scoring function of spectral library hits. The higher this value the higher 
# are librar hits weighted in ZODIAC scoring.
ZodiacLibraryScoring.lambda = 1000
# Spectral library hits must have at least this cosine or higher to be considered in scoring. 
# Value must be in [0,1].
ZodiacLibraryScoring.minCosine = 0.5

# Maximum number of candidate molecular formulas (fragmentation trees computed by SIRIUS) 
# per compound which are considered by ZODIAC.
# This is the threshold used for all compounds with mz below 300 m/z and is used to interpolate the 
# number of candidates for larger compounds.
# If lower than 0, all available candidates are considered.
ZodiacNumberOfConsideredCandidatesAt300Mz = 10

# Maximum number of candidate molecular formulas (fragmentation trees computed by SIRIUS) 
# per compound which are considered by ZODIAC.
# This is the threshold used for all compounds with mz above 800 m/z and is used to interpolate the 
# number of candidates for smaller compounds.
# If lower than 0, all available candidates are considered.
ZodiacNumberOfConsideredCandidatesAt800Mz = 50

# Ratio of candidate molecular formulas (fragmentation trees computed by SIRIUS) per 
# compound which are forced for each ionization to be considered by ZODIAC.
# This depends on the number of candidates ZODIAC considers. E.g. if 50 candidates are 
# considered and a ratio of 0.2 is set, at least 10 candidates per ionization will be 
# considered, which might increase the number of candidates above 50.
ZodiacRatioOfConsideredCandidatesPerIonization = 0.2

# As default ZODIAC runs a 2-step approach. First running 'good quality compounds' only, and 
# afterwards including the remaining.
ZodiacRunInTwoSteps = true

