RecomputeResults =False

# Specifies if the list of Molecular Formula Identifications is filtered by a soft threshold
# (calculateThreshold) before CSI:FingerID predictions are calculated.
FormulaResultThreshold = true

NumberOfStructureCandidates =10000

FormulaSearchDB =none

StructureSearchDB =all


# Configuration profile to store instrument specific algorithm properties.
# Some of the default profiles are: 'qtof', 'orbitrap', 'fticr'.
AlgorithmProfile =default

StructurePredictors =CSI_FINGERID